.card {
    width: 100%;
    border: none;
}
#header {
    text-align: center;
    background-color: #01579b;
    height: 100px;
    padding-top: 17px;
}
#searchContainer {
    padding-left: 55px;
}
.days {
    background-color: aqua;
    margin: 10px;
    width: 150px;
    height: 200px;
    font-size: 14px;
    padding: 10px;
}
#input {
    width: 70px;
}
.weather-side {
	position: relative;
	height: 100%;
	border-radius: 25px;
	background-image: url("https://victorzhou.com/media/image-sizing-post/clouds-big.jpg");
	width: 830px;
	-webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	-webkit-transition: -webkit-transform 300ms ease;
	transition: -webkit-transform 300ms ease;
	-o-transition: transform 300ms ease;
	transition: transform 300ms ease;
	transition: transform 300ms ease, -webkit-transform 300ms ease;
	-webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
	        transform: translateZ(0) scale(1.02) perspective(1000px);
	
}